node_modules
.nuxt
.output
.data
*.log
*.local
.env
.env.*
!.env.example
.DS_Store
.cache
.vscode
.idea
playground/.nuxt
playground/.output
playground/dist
test/fixtures/**/.nuxt
test/fixtures/**/.output
test/fixtures/**/node_modules
